<%- include ("partials/header.ejs") %>

<div class="container search-container">
<form action="/search" id="search" method="GET">
  <img src="images/magnifying-glass.svg" alt="">
  <input type="text" type="submit" name="search" id="search" placeholder="Search for a country..." />
</form>

  <form action="/regionSelector" id="selectRegion" method="GET">
    <select name="selectRegion" id="select-region" form="selectRegion" onchange="this.form.submit()">
      <option value="" disabled selected>Filter By Region</option>
      <option value="Africa">Africa</option>
      <option value="Americas">Americas</option>
      <option value="Asia">Asia</option>
      <option value="Europe">Europe</option>
      <option value="Oceania">Oceania</option>
      <option value="Polar">Polar</option>
    </select>
  </form>
</div>

<div class="container">
  <div id="country-container" class="country-container">
    <% countries.forEach( (country) => { %>
    <form action="/region" method="GET" id="alphaCodes">
      <div class="card" id="alphaCodes" onclick="this.parentNode.submit()">
        <input value=<%= country["alpha3Code"]%> type="hidden" name="alphaCodes"> 
        <div class="image-container">
        <img src=<%= country["flag"] %>
          alt=<%= country["name"]%> />
        </div>
        <h3><%= country["name"]%></h3>
        <span>Population: <%= country["population"]%></span>
        <span>Region: <%= country["region"]%></span>
        <span>Capital: <%= country["capital"]%></span>
      </div>
    </form>
    <% }) %>
  </div>
</div>

<%- include ("partials/footer.ejs") %>