<%- include ("partials/header.ejs") %>

<header>
  <h1>Where in the world?</h1>
  <img src="images/moon.svg" alt="" />
  <button id="dark-mode-btn" class="dark-mode-btn">Dark Mode</button>
</header>

<div class="container search-container">

    <input
      type="text"
      name="region-form"
      id="search"
      placeholder="Search for a country..."
    />
  

  <form action="/regionSelector" id="selectRegion" method="GET">
  <select name="selectRegion" id="region-form">
    <option value="" disabled selected>Filter By Region</option>
    <option value="Africa">Africa</option>
    <option value="Americas">Americas</option>
    <option value="Asia">Asia</option>
    <option value="Europe">Europe</option>
    <option value="Oceania">Oceania</option>
    <option value="Polar">Polar</option>
  </select>
</form>
</div>

<div class="container">
  <div id="country-container" class="country-container">
    <% countries.forEach( country => { %>
    <div class="card">
      <img src=<%=country["flag"] %> alt=<%= country["name"]%> />
      <h3><%= country["name"]%></h3>
      <span>Population: <%= country["population"]%></span>
      <span>Region: <%= country["region"]%></span>
      <span>Capital: <%= country["capital"]%></span>
    </div>
    <% }) %>
  </div>
</div>

<%- include ("partials/footer.ejs") %>
