<%- include ("partials/header.ejs") %>

<% function thousands_separators(num) { %>
    <% const num_parts = num.toString().split("."); %>
    <% num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ","); %>
    <% return num_parts.join("."); %>
  <% } %>

<div class="container">
    
    <form action="/back" id="back" class="back-form" method="GET">
        <img src="images/back.svg" alt="back.svg">
        <button id="back" type="submit" class="back-btn">Back</button>
    </form>

    <div class="detail-container">
        
        <img src=<%=country["flag"] %> alt=<%= country["nativeName"]%>>
        
        <div class="details-col">
            <h2><%= country["name"]%></h2>
            <div class="details">
                <div class="details-info">
                    <span class="detail">
                        <h4>Native Name:</h4>
                        <p><%= country["nativeName"]%></p>
                    </span>
                    <span class="detail">
                        <h4>Population:</h4>
                        <p><%= thousands_separators(country["population"])%></p>
                    </span>
                    <span class="detail">
                        <h4>Region:</h4>
                        <p><%= country["region"]%></p>
                    </span>
                    <span class="detail">
                        <h4>Sub Region:</h4>
                        <p><%= country["subregion"]%></p>
                    </span>
                    <span class="detail">
                        <h4>Capital:</h4>
                        <p><%= country["capital"]%></p>
                    </span>
                </div>
                <div class="details-info">
                    <span class="detail">
                        <h4>Top Level Domain:</h4>
                        <p><%= country["topLevelDomain"]%></p>
                    </span>
                    <span class="detail">
                        <h4>Currencies:</h4>
                        <p><%= country["currencies"]["0"]["name"]%></p>
                    </span>
                    <span class="detail">
                        <h4>Languages:</h4>
                        <% let languageList = [] %>
                        <% country["languages"].forEach( (language) => { %>
                        <% languageList.push(language["name"]) %>
                        <% }) %>
                        <span><%= languageList.join(", ")%></span>
                </div>
            </div>
            <div class="borders">
                <h4>Border Countries:</h4>
                <div class="border-countries">
                    <% country["borders"].forEach( (border) => { %>
                    <span class="border-country"><%= border %></span>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ("partials/footer.ejs") %>